<div *ngIf="chargement==false" class=" flex justify-center my-48">
  <mat-spinner></mat-spinner>
</div>
<div class="bg-[#0C5B50] text-white " *ngIf="chargement">
  <p class="text-center my-2 text-2xl text-white underline  font-medium py-1 ">Lise des candidats par poste</p>
  <!-- Liste des candidats -->
  <p class="text-center my-2 font-medium md:text-2xl underline py-1">Poste de President de L'AGEIS</p>
  <div class="grid grid-cols-2   gap-x-1 gap-y-3 w-full px-2 md:grid-cols-3 ">

    <div class="w-11/12 h-auto border border-red-300 px-1 py-2 hover:bg-[#0C5B50] " [ngClass]="{'text-success':actifbouton==true}" *ngFor="let president of resultatpresident">
      <div>
        <img src="../../assets/image/{{president.id}}.jpg" class="rounded-sm flex items-center justify-center bg-cover " width="100px" height="100px" alt="">
          <div class="flex flex-col space-y-1">
            <p class="text-sm md:text-xl mt-1">{{president.prenom}} {{president.nom}} </p>
            <p  class="text-sm md:text-xl">{{president.ecole}}</p>
            <div class="py-1">
              <button [disabled]="actifbouton" (click)="voter(president.id)" class="bg-red-500 px-2 md:text-xl ">Voter</button>
            </div>
          </div>
      </div>
    </div>

  </div>

  <p class="text-center my-2 font-medium md:text-2xl underline py-1">Poste de President Relation Exterieures</p>
  <div class="grid grid-cols-2 gap-x-1 gap-y-3 w-full px-2 md:grid-cols-3">
    <div class="w-11/12 h-auto border border-red-300 px-1 py-2" [ngClass]="{'text-success':presidentorga.id==a }" *ngFor="let presidentorga of resultatorga;let i=index;">
      <div >
        <img src="../../assets/image/{{presidentorga.id}}.jpg"  class="rounded-sm flex items-center justify-center bg-cover " width="100px" height="100px" alt="">
          <div class="flex flex-col space-y-1">
            <p class="text-sm md:text-xl mt-1">{{presidentorga.prenom}} {{presidentorga.nom}} </p>
            <p  class="text-sm md:text-xl">{{presidentorga.ecole}}</p>
            <div class="py-1">
              <button [disabled]="actifprE" (click)="voterPRE(presidentorga.id)" class="bg-red-500 md:text-xl px-2 ">Voter</button>
            </div>
          </div>
      </div>
    </div>

  </div>
  <p class="text-center my-2 md:text-2xl font-medium underline py-1">Poste de Vice President</p>
  <div class="grid grid-cols-2 gap-x-1 gap-y-3 w-full px-2 md:grid-cols-3 ">
    <div class="w-11/12 h-auto border border-red-300 px-1 py-2" [ngClass]="{'text-success':presidentorga.id==b }" *ngFor="let presidentorga of resultatvicepre">
      <div>
        <img src="../../assets/image/{{presidentorga.id}}.jpg" class="rounded-sm flex items-center justify-center bg-cover " width="100px" height="100px" alt="">
          <div class="flex flex-col space-y-1">
            <p class="text-sm mt-1 md:text-xl">{{presidentorga.prenom}} {{presidentorga.nom}} </p>
            <p  class="text-sm md:text-xl">{{presidentorga.ecole}}</p>
            <div class="py-1">
              <button [disabled]="vp" (click)="voterVP(presidentorga.id)" class="bg-red-500 px-2 md:text-xl">Voter</button>
            </div>
          </div>
      </div>
    </div>

  </div>
  <p class="text-center my-2 md:text-2xl font-medium underline py-1">Poste de President de la commission Pedagogique</p>
  <div class="grid grid-cols-2 gap-x-1 gap-y-3 w-full px-2 md:grid-cols-3 ">
    <div class="w-11/12 h-auto border border-red-300 px-1 py-2" [ngClass]="{'text-success':presidentorga.id==c }" *ngFor="let presidentorga of resultatpcp">
      <div>
        <img src="../../assets/image/{{presidentorga.id}}.jpg" class="rounded-sm flex items-center justify-center bg-cover " width="100px" height="100px" alt="">
          <div class="flex flex-col space-y-1">
            <p class="text-sm md:text-xl mt-1">{{presidentorga.prenom}} {{presidentorga.nom}} </p>
            <p  class="text-smmd:text-xl ">{{presidentorga.ecole}}</p>
            <div class="py-1">
              <button [disabled]="pdbout" (click)="voterpeda(presidentorga.id)" class="bg-red-500 px-2 md:text-xl ">Voter</button>
            </div>
          </div>
      </div>
    </div>

  </div>
  <p class="text-center my-2 font-medium underline md:text-2xl py-1">Poste de President de la commission Organisation</p>
  <div class="grid grid-cols-2 gap-x-1 gap-y-3 w-full px-2 md:grid-cols-3 ">
    <div class="w-11/12 h-auto border border-red-300 px-1 py-2" [ngClass]="{'text-success':presidentorga.id==d }" *ngFor="let presidentorga of resultatpco">
      <div>
        <img src="../../assets/image/{{presidentorga.id}}.jpg" class="rounded-sm flex items-center justify-center bg-cover " width="100px" height="100px" alt="">
          <div class="flex flex-col space-y-1">
            <p class="text-sm mt-1 md:text-xl">{{presidentorga.prenom}} {{presidentorga.nom}} </p>
            <p  class="text-sm md:text-xl">{{presidentorga.ecole}}</p>
            <div class="py-1">
              <button [disabled]="actifboutonorga" (click)="voterorga(presidentorga.id)" class="bg-red-500 px-2 md:text-xl">Voter</button>
            </div>
          </div>
      </div>
    </div>

  </div>
  <p class="text-center my-2 font-medium underline py-1 md:text-2xl ">Poste de Secretaire Général</p>
  <div class="grid grid-cols-2 gap-x-1 gap-y-3 w-full px-2 md:grid-cols-3 ">
    <div class="w-11/12 h-auto border border-red-300 px-1 py-2" [ngClass]="{'text-success':presidentorga.id==e }" *ngFor="let presidentorga of resultatSG">
      <div>
        <img src="../../assets/image/{{presidentorga.id}}.jpg" class="rounded-sm flex items-center justify-center bg-cover " width="100px" height="100px" alt="">
          <div class="flex flex-col space-y-1">
            <p class="text-sm mt-1 md:text-xl">{{presidentorga.prenom}} {{presidentorga.nom}} </p>
            <p  class="text-sm md:text-xl">{{presidentorga.ecole}}</p>
            <div class="py-1">
              <button [disabled]="sgboutton" (click)="voterSG(presidentorga.id)" class="bg-red-500 px-2 md:text-xl ">Voter</button>
            </div>
          </div>
      </div>
    </div>

  </div>
  <p class="text-center my-2 font-medium underline py-1 md:text-2xl ">Poste de Secretaire Général Adjoint</p>
  <div class="grid grid-cols-2 gap-x-1 gap-y-3 w-full px-2 md:grid-cols-3 ">
    <div class="w-11/12 h-auto border border-red-300 px-1 py-2" [ngClass]="{'text-success':presidentorga.id==t}" *ngFor="let presidentorga of resultatSAG">
      <div>
        <img src="../../assets/image/{{presidentorga.id}}.jpg" class="rounded-sm flex items-center justify-center bg-cover " width="100px" height="100px" alt="">
          <div class="flex flex-col space-y-1">
            <p class="text-sm mt-1 md:text-xl">{{presidentorga.prenom}} {{presidentorga.nom}} </p>
            <p  class="text-sm md:text-xl">{{presidentorga.ecole}}</p>
            <div class="py-1">
              <button [disabled]="sagboutton" (click)="voterSAG(presidentorga.id)" class="bg-red-500 px-2 md:text-xl ">Voter</button>
            </div>
          </div>
      </div>
    </div>

  </div>
  <p class="text-center my-2 font-medium underline py-1 md:text-2xl">Poste de President Sportive et culturelle</p>
  <div class="grid grid-cols-2 gap-x-1 gap-y-3 w-full px-2 md:grid-cols-3 ">
    <div class="w-11/12 h-auto border border-red-300 px-1 py-2" [ngClass]="{'text-success':presidentorga.id==f }" *ngFor="let presidentorga of resultatPCSC">
      <div>
        <img src="../../assets/image/{{presidentorga.id}}.jpg" class="rounded-sm flex items-center justify-center bg-cover " width="100px" height="100px" alt="">
          <div class="flex flex-col space-y-1">
            <p class="text-sm mt-1 md:text-xl">{{presidentorga.prenom}} {{presidentorga.nom}} </p>
            <p  class="text-sm md:text-xl">{{presidentorga.ecole}}</p>
            <div class="py-1">
              <button [disabled]="cultboutton" (click)="votercult(presidentorga.id)" class="bg-red-500 md:text-xl px-2 ">Voter</button>
            </div>
          </div>
      </div>
    </div>

  </div>
  <p class="text-center my-2 font-medium underline md:text-2xl py-1">Poste de Tresorier</p>
  <div class="grid grid-cols-2 gap-x-1 gap-y-3 w-full px-2 md:grid-cols-3 ">
    <div class="w-11/12 h-auto border border-red-300 px-1 py-2" [ngClass]="{'text-success':presidentorga.id==g }" *ngFor="let presidentorga of resultatTresorie">
      <div >
          <img src="../../assets/image/{{presidentorga.id}}.jpg" class="rounded-sm flex items-center justify-center bg-cover " width="100px" height="100px" alt="">
          <div class="flex flex-col space-y-1">
            <p class="text-sm mt-1 md:text-xl">{{presidentorga.prenom}} {{presidentorga.nom}} </p>
            <p  class="text-sm md:text-xl">{{presidentorga.ecole}}</p>
            <div class="py-1">
              <button [disabled]="tresorbu" (click)="votertresor(presidentorga.id)" class="bg-red-500 md:text-xl px-2 ">Voter</button>
            </div>
          </div>
      </div>
    </div>

  </div>
  <div class="flex space-x-1 justify-end mr-2">

    <button class="bg-green-500 my-1 text-right px-4  text-white" (click)="validerchoix()"> Valider</button>
  </div>
<!-- Fin liste des candidats -->
</div>
