<div class="w-full flex items-center  h-full justify-center  ">
  <div class="w-1/2 bg-[#0C5B50] h-screen flex  items-center justify-center rounded-r-md rounded-br-md shadow-md ">
    <div class="flex flex-col space-y-1 items-center justify-center ">
      <img src="../../assets/undraw_voting_nvu7.svg" class=" lg:w-52 lg:h-52" width="150px" height="150px" alt="">
    <p class="lg:text-4xl text-white  font-serif font-semibold">Election 2023 </p> </div>
  </div>
  <div class="w-1/2 bg-white h-full  flex items-center justify-center">
    <div class="flex flex-col  items-center justify-center w-full">
      <img src="../../assets/ucad.png" width="100px" height="80px" class=" lg:w-52 lg:h-48 rounded-full" alt="">
      <div class="w-10/12 flex flex-col justify-start  lg:justify-center space-y-1  " >
        <ng-container *ngIf="connecte==false"
        [ngTemplateOutlet]="defaut">
       </ng-container>
         
        </div>
        <ng-container *ngIf="connecte==true"
        [ngTemplateOutlet]="affichemotdepasse">
       </ng-container>
    </div>
  </div>
</div>
<ng-template #defaut>
  <div class="flex flex-col lg:justify-center w-full space-y-1">
    <label for="mail" class="text-sm ">  Email</label>
    <input type="email" placeholder="Verifiez votre mail" class=" py-1 lg:w-60 text-sm w focus:outline-none focus:ring-1 shadow-sm rounded-md focus:ring-[#0C5B50] border border-gray-400  "  [formControl]="mailadress">
  </div>
 <div class=" w-1/2 lg:w-1/3 mt-2">
  <button  class="bg-[#0C5B50] w-full rounded-md text-white" (click)="openmodal()">Vérifier</button>
</div>
</ng-template>
<ng-template #affichemotdepasse>

  <div class="flex flex-col lg:justify-center w-full space-y-1">
    <label for="mail" class="text-sm ">  Mot de passe </label>
    <input type="email" placeholder="Verifiez votre Mot passe" class=" py-1 lg:w-60 text-sm w focus:outline-none focus:ring-1 shadow-sm rounded-md focus:ring-[#0C5B50] border border-gray-400  "  [formControl]="password">
    <p  class="text-red-400 ">Veuillez saisir le mot de passe recu par mail</p>
  </div>
  <div class=" w-1/2 lg:w-1/3 mt-2">
    <button  class="bg-[#0C5B50] w-full rounded-md text-white" (click)="connectuser()">Vérifier</button>
  </div>

</ng-template>
